<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	
	<bean id="admin" class="com.novellius.Administrador">
		<property name="id" value="7"></property>
		<property name="nombre" value="Julen"></property>
		<property name="direccion" ref="direccion"></property>
	</bean>
	
	
	<!-- esto sirve para hacer el set de la clase instanciada Direccion pero sin anotaciones -->
	<!-- <bean id="direccion" class="com.novellius.Direccion">
		<constructor-arg name="calle" value="Erandio"></constructor-arg>
		<constructor-arg name="cp" value="777"></constructor-arg>
	</bean> -->
	<context:component-scan base-package="com.novellius"></context:component-scan>
</beans>
